
SPLUNK_HOST=localhost:8089
SPLUNK_USERNAME=admin
SPLUNK_PASS=welcome1
INDEX=buttercup_sample
SOURCETYPE=access_combined_buttercup
#DIRECTORY=.
DIRECTORY=./data/buttercup_sample
# Either set EXTENSION to something like json to load a number of files or set FILE_NAME to a 
# specific file name to load a single file. Don't set both. Leave the unused variable empty
# with no spaces.
EXTENSION=log.gz
FILE_NAME=
APP_NAME=tmuth-data-load
REPORT_FIELDS=host,action,categoryid,clientip,file,itemid,method,productid,status,referer_domain
HOST_SEGMENT=8
DEBUG=F # T or F
