
SPLUNK_HOST=localhost:8089
SPLUNK_USERNAME=admin
SPLUNK_PASS=welcome1
INDEX=cve
SOURCETYPE=cve_json
DIRECTORY=./data/CVE
#DIRECTORY=/Volumes/GoogleDrive/My\ Drive/Projects/splunking-json/Docker/data/fio
# Either set EXTENSION to something like json to load a number of files or set FILE_NAME to a 
# specific file name to load a single file. Don't set both. Leave the unused variable empty
# with no spaces.
EXTENSION=
FILE_NAME=cve-recent.json.gz
APP_NAME=tmuth-data-load
REPORT_FIELDS=_time,id,assigner
HOST_SEGMENT= # null by default. Set to a number of the segement of filename for host if needed.
DEBUG=F # T or F
DEBUG_TIMESTAMP=T # T or F
